.card{
    width: 240px;
    /* background-color: blueviolet; */
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 260px;
    border-radius: 6px;
    cursor: pointer;
}
img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
img:not(:hover){
    transition: transform 0.3s;
}
