.contribution-card{
    /* background-color: blueviolet; */
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contribution-img{
    width: 500px;
    height: 500px;
    border-radius: 6px;
    cursor: pointer;
    margin: 20px;
    border: 1px solid #495057;
}
.contribution-name,.contribution-type{
    align-self: center;
    margin: 2px 8px;
}
.contribution-img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.contribution-img:not(:hover){
    transition: transform 0.3s;
}
@media only screen and (max-width: 600px){
    .contribution-card{
        width: 100%;
    }
    .contribution-img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
        cursor: pointer;
        margin: 20px;
    }
    .contribution-name,.contribution-type{
        align-self: center;
        margin: 0px auto 12px auto;
    }
}
