.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    background-color: #d9dce0;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 60px 40px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px){
    .gallery{
        display: flex;
        flex-direction: column;
        background-color: #d9dce0;
        margin: auto;
        margin-bottom: 40px;
        padding: 40px 10px;
        border-radius: 10px;
        width: 80%;
        gap: 20px;
    }
    
}