.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.home>h1{
    text-align: center;
    font-size: 90px;
    color: #495057;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.home>p{
    margin: 0;
    width: 100%;
    text-align: center;
    text-align: justify;
}
.home>h3{
    font-size: 30px;
    font-family: serif;
    align-self: flex-start;
    color: #495057;
}
.heading{
    text-align: center;
    /* background-color: darkorchid; */
    padding: 10px;
    font-family: 'DM Serif Text',serif;
    font-size: 40px;
    color: #495057;
}
.display-image{
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-wrap: wrap;
}
.display-image>img{
    width: 100%;
    height: auto;
    margin: 0px auto 40px auto;
    border-radius: 20px;
}


@media only screen and (max-width: 600px){
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .home>h1{
        text-align: center;
        font-size: 40px;
        color: #495057;
    }
    .home>p{
        margin: 0;
        width: 80%;
        text-align: center;
        text-align: justify;
    }
    .heading{
        text-align: center;
        padding: 10px;
        font-family: 'DM Serif Text',serif;
        font-size: 40px;
        color: #495057;
    }
    .display-image>img{
        width: 90%;
        height: auto;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}