.navbar{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9ecef;
  color: #495057; 
  padding: 10px 20px;
  z-index: 1000; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.left-navbar{
    width: 70%;
    /* background-color: chartreuse; */
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
  font-family: 'poppins',sans-serif;
}
.right-navbar{
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 80px;
    font-weight: 300;
    /* background-color: blueviolet; */
}
a {
    transition: transform 0.3s; 
    text-decoration: none;
    color:#495057;
  }
  
  a:hover {
    transform: scale(1.1); 
    font-weight: 500;
  }
  
  a:not(:hover) {
    transition: transform 0.3s; 
  }
  .active {
    font-weight: 600;
    color: black !important;
  }