.card>.name{
    /* background-color: chocolate; */
    margin: auto;
    padding: 16px 10px;
}
.team{
    display: flex;
    flex-direction: column;
    background-color: #d9dce0;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px 40px;
    border-radius: 20px;
}
/* .final-year{
    display: flex;
    flex-direction: column;
} */
.third-year{
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 30px;
    font-family: serif;
    align-self: flex-start;
    color: #495057;
    /* background-color: coral; */
}
.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    /* align-items: center; */
    justify-content: center;
    grid-gap: 10px;
}